<div class="panel panel-default">

<%= form_for(@scrim) do |f| %>
  <% if @scrim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrim.errors.count, "error") %> prohibited this scrim from being saved:</h2>

      <ul>
      <% @scrim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Team Captain" %><br>
    <%= f.text_field :player %>
  </div>
  <div class="field">
    <%= f.label "Team MMR" %><br>
    <%= f.number_field :mmr %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
